################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RedisCache/bin/Debug/net6.0
/RedisCache/obj
